@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  font-family: 'Ubuntu Mono';
  font-size: 16px;
}

#map, #info {
  max-width: 600px;
  margin: 0 10px;
}

#map {
  max-height: calc(100vh - 86px);
  position: absolute;
  right: 4px;
  left: 0px;
  pointer-events: none;
}

#contact {
  font-size: 13px;
  margin-top: 10px;
}

#info {
	height: 70px;
}

#progress-bar {
  background-color: #000;
  width: 0;
  height: 3px;
  margin-top: 10px;
}

#cost-wrapper {
	float: right;
}

#to {
	float: right;
}

svg#map path {
  fill: #ddd;
  stroke: #fff;
  stroke-width: 1px;
}

svg#map path.dijk {
  stroke-width: 0.5px;
  stroke: #ddd;
}

svg#map path.icon {
  fill: #000;
  stroke-width: 0;
}

svg#map text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
  color: #000;
}

svg circle {
  fill: #000;
}

.path-route {
  fill: none !important;
  transition: stroke 2s, stroke-width 2s;
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
  }
  #map, #info {
    margin: 0 calc(50vw - 300px);
    padding: 0;
  }
}

#end-message {
  display: none;
  position: absolute;
  right: 4px;
  left: 0px;
  top: 30vh;
  font-size: 20px;
  text-align: center;
  z-index: 1000;
  width: 100vw;
}

#end-message a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}